APP_NAME=
PORT=
DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=
SENDGRID_API_KEY=
EMAIL_USERNAME=
SUPPORT_EMAIL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=
COMPANY_WEBSITE=
UPLOAD_LINK=
ACCEPTED_FORMATS=
MAX_FILE_SIZE=